<div id="offlineContainer" style="display: none;">
    <div id="offlineLeft">
        <div id="offlineLeftContent">
            <div id="offlineBrand">
                <img id="offlineLogo" src="assets/images/SealCircle.png" alt="EVO Launcher"/>
                <div id="offlineBrandText">
                    <span id="offlineBrandName">EVO LAUNCHER</span>
                    <span id="offlineBrandSub">Minecraft Edition</span>
                </div>
            </div>

            <div id="offlineForm">
                <div id="offlineFieldWrapper">
                    <input id="offlineUsername" class="offlineField" type="text" placeholder="Username" maxlength="16" autocomplete="off" spellcheck="false"/>
                    <span id="offlineUsernameError" class="offlineError" style="display:none;">Enter a valid username (3–16 chars)</span>
                </div>

                <a id="offlineBuyLink" href="https://minecraft.net/store/minecraft-java-edition/" target="_blank">
                    <svg viewBox="0 0 12 12" width="10" height="10"><path fill="currentColor" d="M6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0zm.5 9h-1V5h1v4zm0-5h-1V3h1v1z"/></svg>
                    Buy Minecraft
                </a>

                <button id="offlineLoginButton" disabled>Login offline</button>
            </div>

            <div id="offlineSwitchRow">
                <button id="offlineSwitchOnline">Switch to online mode</button>
            </div>
        </div>
    </div>

    <div id="offlineRight">
        <div id="offlineRightBg" style="background-image: url('assets/images/backgrounds/<%=bkid%>.jpg');"></div>
    </div>

    <script src="./assets/js/scripts/offline.js"></script>
</div>
